@model WorkDiary.Models.Event

@{
    ViewData["Title"] = "CreateEvent";
}

<h1>CreateMessage</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameEvent" class="control-label">Name</label>
                <input asp-for="NameEvent" class="form-control" />
                <span asp-validation-for="NameEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeEvent" class="control-label">Type</label>
                <input asp-for="TypeEvent" class="form-control" />
                <span asp-validation-for="TypeEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationEvent" class="control-label">Duration</label>
                <input asp-for="DurationEvent" class="form-control" />
                <span asp-validation-for="DurationEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeEvent" class="control-label">Date</label>
                <input asp-for="DateTimeEvent" class="form-control" />
                <span asp-validation-for="DateTimeEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users" class="control-label">Users</label>
                <select multiple asp-for="Users" class="form-control">
                    @foreach(User p in @ViewBag.Users)
                    {
                        <option value=@p>@p.FullName (@p.Email)</option>
                    }
                </select>
                <span asp-validation-for="DateTimeEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
